.header__container {
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.header__left {
     width: 640px;
     display: flex;
     align-items: start;
     flex-direction: column;
     gap: 15px;
}

.header__left>h3 {
     font-family: 'Water Brush', Arial, Helvetica, sans-serif;
     font-size: 85px;
     color: white;
     margin-top: 50px;
     font-weight: 500;
}

.header__left>h1 {
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     font-size: 80px;
     color: white;
     margin-top: 20px;
}

.header__left>p {
     font-family: 'WorkSans-Light', Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: white;
}

.header__left__card {
     width: 100%;
     height: 150px;
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: rgba(255, 255, 255, 0.176);
     margin-top: 60px;
     border-radius: 20px;
     padding: 1px 30px;
}

.header__location {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 15px;
     padding-right: 50px;
     border-right: solid 1.5px white;
}

.header__location__txt {
     display: flex;
     align-items: start;
     flex-direction: column;
}

.header__location>img {
     width: 20px;
}

.header__location__txt>span {
     font-family: 'WorkSans-Light', Arial, Helvetica, sans-serif;
     color: white;
     font-size: 22px;
     font-weight: 400;
}

.header__location__txt>p {
     font-family: 'WorkSans-Light', Arial, Helvetica, sans-serif;
     color: white;
     font-size: 24px;
     font-weight: 600;
}

.header__right {
     width: 540px;
}

.header__left__card>button {
     width: 55px;
     height: 55px;
     background: linear-gradient(#ee1c45, #ff803c);
     color: white;
     font-weight: 700;
     border-radius: 18px;
     border: none;
     cursor: pointer;
     transition: background 0.3s, transform 0.2s;
     font-size: 14px;
}

.header__left__card>button>img {
     width: 20px;
}

@media (max-width: 992px) {

     .header__right {
               width: 300px;
          }
     .header__left__card {
          flex-direction: column;
          height: auto;
          padding: 15px;
          gap: 15px;
          margin-top: 10px;
          margin-bottom: 10px;
     }

     .header__location {
          padding-right: 0;
          border-right: none;
          gap: 10px;
     }

     .header__location__txt>span {
          font-size: 20px;
     }

     .header__location__txt>p {
          font-size: 22px;
     }

     .header__left__card>button {
          width: 50px;
          height: 50px;
     }

     .header__left__card>button>img {
          width: 18px;
     }
}

@media (max-width: 576px) {
     .header__left__card {
                    width: 200px;
          padding: 5px;
          gap: 10px;
          align-items: start;
     }

     .header__location {
          gap: 8px;
     }

     .header__location__txt>span {
          font-size: 15px;
     }

     .header__location__txt>p {
          font-size: 16px;
     }

     .header__left__card>button {
          width: 40px;
          height: 40px;
     
     }

     .header__left__card>button>img {
          width: 16px;
          
     }
}

@media (max-width: 992px) {
     .header__left {
          width: 480px;
          gap: 10px;
     }

     .header__left>h3 {
          font-size: 50px;
          margin-top: 20px;
     }

     .header__left>h1 {
          font-size: 40px;
          margin-top: 5px;
     }

     .header__left>p {
          font-size: 15px;
     }
}

@media (max-width: 576px) {
     .header__left {
          width: 100%;
          gap: 8px;
        
     }

     .header__left>h3 {
          font-size: 38px;
          margin-top: 5px;
     }

     .header__left>h1 {
          font-size: 40px;
      
          margin-top: 10px;
        
     }

     .header__left>p {
          font-size: 14px;
      
     }
}

@media (max-width: 450px) {
     .header__left {
          width: 100%;
        
          gap: 8px;
     }

     .header__left>h3 {
          font-size: 30px;
          margin-top: 5px;
     }

     .header__left>h1 {
          font-size: 30px;
          margin-top: 10px;
     }

     .header__left>p {
          font-size: 14px;
          letter-spacing: 0;
     }
}